{% extends "base.html" %} {% block content %}
<br />
<div class="jumbotron">
  <h1><img src="/static/img/flask.png" height="80px" /> Python & Flask Demo App</h1>

  <div class="lead">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
    Lorem Ipsum.
  </div>
  <br />

  <div class="dimmed-box">
    <p>
      <img src="static/img/gitlab.svg" class="icon" />
      <a href="https://gitlab.com/saiful_425/ci_cd" target="_blank" class="btn btn-info btn px-4"> GitLab Project </a>

      &nbsp;&nbsp;&nbsp;
      <img src="static/img/docker-whale.svg" class="icon" />
      <a href="https://hub.docker.com/search?q=" target="_blank" class="btn btn-info btn">
        Docker Images
      </a>
    </p>
    <hr />
    <p>
      <img src="static/img/python.svg" class="icon" />
      <a class="btn btn-info btn" href="https://aws.amazon.com/developer/language/python/" target="_blank">
        Get started with AWS &amp; Python
      </a>
    </p>

    <br />
  </div>
</div>
{% endblock %}